@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}

body {
	background-image: url("pw_pattern.png");
}

.nav {
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	display: block;
	position: fixed;
	z-index: 10;
	/*background-color: red;*/
	white-space: nowrap;
	background-color: white;
	/*background-color: rgb(245, 245, 245);*/
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
}

.nava {
	text-decoration: none;
	color: black;
}

.navlist {
	display: inline-block;
	margin: auto 2%;
	font-weight: 200;
	font-size: 1em;
}

a:hover {
	color: gray;
	/*border-style: solid;
	border-spacing: 10px;
	border-width: 2px;
	border-color: gray;
	border-radius: 5px;*/
}

a:active {
	color: white;
}

#navhome {
	font-weight: 300;
	font-size: 2em;
}

/* END NAVIGATION BAR */

.front {
	text-align: center;
	width: 100%;
	height: 700px;
	background-image: url("ominous projector home2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	position: fixed;
	white-space: nowrap;
}

h1 {
	position: relative;
	top: 400px;
	font-weight: 500;
	font-size: 5em;
	color: white;
	/*border: solid;
	border-color: Floralwhite;
	border-width: 1px 0;
	border-radius: 2%;
	display: inline;*/
	/*font-size: 5vw;*/
}

img {
	position: relative;
	top: 390px;
	margin: 0 auto;
}

/* END FRONT */

.notfront {
	height: auto;
	width: 100%;
	overflow: visible;
	position: relative;
	top: 600px;
	background-image: url("pw_pattern.png");
	/*background-color: red;*/
	padding: 50px 0px;
}

.content {
	width: 80%;
	height: auto;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.8);
	/*background-color: yellow;*/
	margin: auto;
	border-radius: 4%;
	padding: 25px;
}

h3 {
	text-transform: uppercase;
	color: darkgray;
	font-size: 35px;
	font-weight: 300;
}

p {
	font-weight: 200;
	color: dimgray;
	font-size: 20px;
	padding-top: 3px;
}

.special {
	text-align: center;
	height: auto;
	width: 70%;
	margin: 0 auto;
	border: dashed 5px lightgray;
	border-radius: 2%;
	color: gray;
	padding: 10px 0;
}

h4 {
	font-size: 40px;
	font-weight: 300;
}

h5 {
	font-size: 30px;
	font-weight: 200;
	font-style: italic;
}

/*.nexttext {
	width: 100%;
	height: 75%;
	display: block;
	/*background: white;*/
	/*text-align: left;
}*/

.footer {
	width: 100%;
	height: 40px;
	/*background-color: blue;*/
	background-color: white;
	background-color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	padding-top: 10px;
	z-index: 2;
	position: relative;
}
